
body {
    background-color: #FFF0F5; 
    font-family: 'Segoe UI', sans-serif;
    color: #555;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


fieldset {
    background-color: #ffffff;
    border: 2px solid #FFB6C1;
    border-radius: 20px; 
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 300px;
}


.pendaftaran, .back {
    background-color: #FFB6C1; 
    border: none;
    border-radius: 20px; 
    padding: 10px 20px;
    margin: 5px;
    transition: all 0.3s ease; 
    cursor: pointer;
    font-weight: bold;
}


.pendaftaran:hover, .back:hover {
    background-color: #FF69B4; 
    transform: scale(1.1); 
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}


a {
    text-decoration: none;
    color: white;
}